
#map { height: 40vh;}

div#images {
  height: 30vh;
}

div#gallery {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
}

div#gallery img { 
  padding: 10px;
  height: 100%;
  width: auto;
}
path.leaflet-interactive{
  outline: none;
}
.bulma-modal-content {
  width: 60vw;
  height: 80vh;
}
